flows.json
[
    {
        "id": "4d636647c5b85c82",
        "type": "tab",
        "label": "Karaoke UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c069728dfb7f4479",
        "type": "ui-form",
        "z": "4d636647c5b85c82",
        "name": "エントリーフォーム",
        "group": "uigroup-01",
        "label": "",
        "order": 1,
        "width": 12,
        "height": 0,
        "options": [
            {
                "label": "性別",
                "key": "gender",
                "type": "dropdown",
                "required": false,
                "rows": null
            },
            {
                "label": "参加スタイル",
                "key": "party",
                "type": "dropdown",
                "required": true,
                "rows": null
            },
            {
                "label": "シチュエーション",
                "key": "situation",
                "type": "dropdown",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "gender": "choose_gender",
            "party": "choose_party",
            "situation": "choose_situation"
        },
        "payload": "",
        "submit": "送信",
        "cancel": "",
        "resetOnSubmit": true,
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "dropdownOptions": [
            {
                "dropdown": "gender",
                "key": "choose_gender",
                "label": "選択してください"
            },
            {
                "dropdown": "gender",
                "key": "male",
                "label": "男性"
            },
            {
                "dropdown": "gender",
                "key": "female",
                "label": "女性"
            },
            {
                "dropdown": "gender",
                "key": "other",
                "label": "その他"
            },
            {
                "dropdown": "gender",
                "key": "na",
                "label": "回答しない"
            },
            {
                "dropdown": "party",
                "key": "choose_party",
                "label": "選択してください"
            },
            {
                "dropdown": "party",
                "key": "solo",
                "label": "一人で"
            },
            {
                "dropdown": "party",
                "key": "family",
                "label": "家族で"
            },
            {
                "dropdown": "party",
                "key": "friends",
                "label": "友人と"
            },
            {
                "dropdown": "party",
                "key": "work",
                "label": "職場仲間と"
            },
            {
                "dropdown": "situation",
                "key": "choose_situation",
                "label": "選択してください"
            },
            {
                "dropdown": "situation",
                "key": "icebreak",
                "label": "初対面のアイスブレイク"
            },
            {
                "dropdown": "situation",
                "key": "celebration",
                "label": "お祝いムード"
            },
            {
                "dropdown": "situation",
                "key": "closing",
                "label": "締めの一曲"
            },
            {
                "dropdown": "situation",
                "key": "duet",
                "label": "デュエット向け"
            },
            {
                "dropdown": "situation",
                "key": "energy",
                "label": "盛り上げたい"
            },
            {
                "dropdown": "situation",
                "key": "calm",
                "label": "落ち着きたい"
            }
        ],
        "x": 160,
        "y": 160,
        "wires": [
            [
                "6db5fdb4ee92b703",
                "fdaeabb47c165720"
            ]
        ]
    },
    {
        "id": "6db5fdb4ee92b703",
        "type": "function",
        "z": "4d636647c5b85c82",
        "name": "送信データ整形（曲推定の前処理）",
        "func": "// プレースホルダは未選択扱いにして送信\nconst p = msg.payload || {};\nconst normalize = (v, placeholder) => (v && v !== placeholder) ? v : '';\nmsg.payload = {\n  gender: normalize(p.gender, 'choose_gender') || 'na',\n  party: normalize(p.party, 'choose_party'),\n  situation: normalize(p.situation, 'choose_situation'),\n  ts: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "3d21b675e584155e"
            ]
        ]
    },
    {
        "id": "3d21b675e584155e",
        "type": "debug",
        "z": "4d636647c5b85c82",
        "name": "送信内容",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "fdaeabb47c165720",
        "type": "ui-notification",
        "z": "4d636647c5b85c82",
        "ui": "80e6c4e06f13c249",
        "position": "top right",
        "colorDefault": false,
        "color": "#1bde42",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "送信しました",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "uigroup-01",
        "type": "ui-group",
        "name": "エントリー入力",
        "page": "uipage-01",
        "width": 12,
        "height": "",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "80e6c4e06f13c249",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "uipage-01",
        "type": "ui-page",
        "name": "エントリー",
        "ui": "80e6c4e06f13c249",
        "path": "",
        "icon": "mdi-microphone-variant",
        "layout": "notebook",
        "theme": "c2736b8aac5855a0",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c2736b8aac5855a0",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a326df4a039d0d79",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]
