flows.json
[
    {
        "id": "9c6ce18466c21dae",
        "type": "tab",
        "label": "Karaoke UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f4bd91ddb5770966",
        "type": "ui-form",
        "z": "9c6ce18466c21dae",
        "name": "エントリーフォーム",
        "group": "uigroup-01",
        "label": "",
        "order": 1,
        "width": 12,
        "height": 0,
        "options": [
            {
                "label": "性別",
                "key": "gender",
                "type": "dropdown",
                "required": false,
                "rows": null
            },
            {
                "label": "参加スタイル",
                "key": "party",
                "type": "dropdown",
                "required": true,
                "rows": null
            },
            {
                "label": "シチュエーション",
                "key": "situation",
                "type": "dropdown",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "gender": "",
            "party": "",
            "situation": ""
        },
        "payload": "",
        "submit": "送信",
        "cancel": "",
        "resetOnSubmit": true,
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "className": "",
        "dropdownOptions": [
            {
                "dropdown": "gender",
                "key": "male",
                "label": "男性"
            },
            {
                "dropdown": "gender",
                "key": "female",
                "label": "女性"
            },
            {
                "dropdown": "gender",
                "key": "other",
                "label": "その他"
            },
            {
                "dropdown": "gender",
                "key": "na",
                "label": "回答しない"
            },
            {
                "dropdown": "party",
                "key": "solo",
                "label": "一人で"
            },
            {
                "dropdown": "party",
                "key": "family",
                "label": "家族で"
            },
            {
                "dropdown": "party",
                "key": "friends",
                "label": "友人と"
            },
            {
                "dropdown": "party",
                "key": "work",
                "label": "職場仲間と"
            },
            {
                "dropdown": "situation",
                "key": "icebreak",
                "label": "初対面のアイスブレイク"
            },
            {
                "dropdown": "situation",
                "key": "celebration",
                "label": "お祝いムード"
            },
            {
                "dropdown": "situation",
                "key": "closing",
                "label": "締めの一曲"
            },
            {
                "dropdown": "situation",
                "key": "duet",
                "label": "デュエット向け"
            },
            {
                "dropdown": "situation",
                "key": "energy",
                "label": "盛り上げたい"
            },
            {
                "dropdown": "situation",
                "key": "calm",
                "label": "落ち着きたい"
            }
        ],
        "x": 160,
        "y": 160,
        "wires": [
            [
                "d657dd6695e5814a",
                "9b0008af45176628"
            ]
        ]
    },
    {
        "id": "d657dd6695e5814a",
        "type": "function",
        "z": "9c6ce18466c21dae",
        "name": "送信データ整形（曲推定の前処理）",
        "func": "// フォームから来た選択だけで受け取り、タイムスタンプ付与\nconst p = msg.payload || {};\nmsg.payload = {\n  gender: p.gender || 'na',\n  party: p.party || '',\n  situation: p.situation || '',\n  ts: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "b6e78c83096487f9"
            ]
        ]
    },
    {
        "id": "b6e78c83096487f9",
        "type": "debug",
        "z": "9c6ce18466c21dae",
        "name": "送信内容",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "9b0008af45176628",
        "type": "ui-notification",
        "z": "9c6ce18466c21dae",
        "ui": "80e6c4e06f13c249",
        "position": "top right",
        "colorDefault": false,
        "color": "#1bde42",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 0,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "送信しました",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "uigroup-01",
        "type": "ui-group",
        "name": "エントリー入力",
        "page": "uipage-01",
        "width": 12,
        "order": 1,
        "visible": true,
        "disabled": false
    },
    {
        "id": "80e6c4e06f13c249",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "uipage-01",
        "type": "ui-page",
        "name": "エントリー",
        "ui": "80e6c4e06f13c249",
        "icon": "mdi-microphone-variant",
        "layout": "notebook",
        "order": 1
    },
    {
        "id": "05561c3672d9be6b",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]
